body {
    margin: auto;
    padding: 10px;
}

main {
    margin: auto;
    padding: 5px;
    max-width: 960px;
    width: 100%;
    height: 400px;
    background-color: #202020;
    display: grid;
    grid-template-columns: 192px 192px 192px 192px 192px;
    grid-template-rows:  80px 80px 80px 80px 80px;
}

h2 {
    margin: 0px;
    margin-right: 25px;
    color: #E72E2E;
    font-family: "Roboto";
    font-size: 32px;
    grid-column: 4 / 6;
    grid-row: 1;
    align-self: start;
    justify-self: center;
}

h2 span {
    margin-right: 5px;
    font-family: "Exo 2";
    font-size: 34px;
    color: #202020;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #E72E2E;
}

.tempo-section {
    margin: 10px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-column: 1 / 2;
    grid-row: 2 /3;
    align-self: start;
    justify-self: end;
}

.tempo-section h4 {
    margin: 0;
    color: white;
    font-family: "Roboto";
}

.tempo-display {
    height: 38px;
    width: 80px;
    background-color: black;
    color: red;
    text-align: center;
}

.tempo-display h2 {
    margin: 0px;
    font-family: "Orbitron";
    font-size: 30px;
}

.knob {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: grey;
    font-family: "Roboto";
    font-weight: bold;
    text-align: center;
}

.drum-controls {
    grid-column: 2 / 5;
    grid-row: 3;
    align-self: start;
    justify-self: end;
}

.drum-controls table {
    color: white;
    font-family: "Roboto";  
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    border-collapse: collapse;
}

th {
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
}

td {
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
}

.drum-knob {
    margin: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: grey;
    color: black;
    font-family: "Roboto";
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

.start-stop {
    margin: auto;
    margin-bottom: 52px;
    background-color: #F8A125;
    color: black;
    width: 100px;
    height: 80px;
    grid-row: 4 / 6;
    justify-self: center;
    cursor: pointer;
}

.start-stop div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.start-stop p {
    margin: 0;
    font-weight: bold;
}

.step-sequencer {
    display: flex;
    flex-direction: row;
    gap: 4px;
    grid-column: 2 / 6;
    grid-row: 4;
    align-self: end;
}

.step-sequencer button {
    width: 35px;
    height: 50px;
    font-size: 48px;
    cursor: pointer;
}

.step-group-1 button {
    background-color: #E72E2E;
}

.step-group-2 button {
    background-color: #F8A125;
}

.step-group-3 button {
    background-color: #F1F827;
}

.step-group-4 button {
    background-color: #FFFFFF;
}

h3 {
    margin-left: 30px;
    color: #E72E2E;
    font-family: "Roboto";
    grid-column: 4 / 6;
    grid-row: 5 / 6;
}